@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --ff-press-start: "Press Start 2P", system-ui;
  --primary-clr: #cc322a;
  --secondary-clr: #ecd9db;
  --accent-clr: #a7b3d3;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
}

body {
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-family: var(--ff-press-start);
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
}

.fa-regular {
  display: inline-block;
}

h1 {
  text-align: center;
  letter-spacing: -2px;
  padding: 40px 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

button,
input {
  font-family: "Inter", monospace;
}

.input-element {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: -0.24px;
  padding: 0.8rem;
  border-radius: 1rem;
  border: none;
}

.input-element:focus {
  outline: none;
}

.btn {
  cursor: pointer;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 0.8rem;
  background-color: var(--accent-clr);
  color: #07153d;
}

.btn-icon {
  cursor: pointer;
  background: none;
  border: none;
  color: var(--secondary-clr);

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.btn-icon:hover {
  transform: translateY(-2px);
}

.form-container {
  display: flex;
  justify-content: center;
}

.search-result-container {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.nav-container {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.nav-logo-container {
  width: 6rem;
}

.nav-hidden-pokemon-container {
  position: absolute;
  bottom: -17rem;
  right: 0;
  width: 12rem;
  height: 18rem;
  border-radius: 2px;
  background-color: var(--secondary-clr);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.hide {
  display: none;
}

img {
  width: 100%;
}

.header-container {
  padding: 40px 0;
}

.footer-container {
  font-size: 0.5rem;
  text-align: center;
}

.article-main-container {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
